# Application
PORT=3001
NODE_ENV=development

# Database
DB_HOST=postgres
DB_PORT=5432
DB_USER=notion_user
DB_PASS=notion_pass
DB_NAME=notion_lite

# JWT
JWT_SECRET=sdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdf
JWT_EXPIRES_IN=7d

# CORS
FRONTEND_URL=http://localhost:3000
